h1,h3,h4,h5,ul{
    font-family: 'Anton', sans-serif
}

* {
    padding: 0px;
    margin: 0px;
    
}

html,body{
    scroll-behavior: smooth;
}

@media screen{

}

header{
    height: 100px;
}

.container{
    max-width: fit-content;
    max-height: fit-content;
}

.moi{
    margin: 20px;
}

.titre{
    margin: 10px;
}

.list{
    padding: 20px;

}

.carousel-inner{
    max-width: fit-content;
    max-height: fit-content;
    margin: 20px;
}

.carousel-control-prev,{
    margin: 20px;
}

.carousel-control-next{
    margin: 20px;
}
.image{
    max-width: fit-content;
    max-height: fit-content;
}


